<form [formGroup]="user_data" (ngSubmit)="onSubmit()">
  <h1>Enter Employee Details</h1>
  <div class="div_class">
    <label>Employee Name:</label><br>
    <input type="text" formControlName="employee_name" placeholder="Name">
    <div *ngIf="(user_data.controls.employee_name.dirty || user_data.controls.employee_name.touched) && user_data.controls.employee_name.invalid">
  <div style="color:red" *ngIf="user_data.controls.employee_name.errors.required">
    Name is required.
  </div>
  <div style="color:red" *ngIf="user_data.controls.employee_name.errors.minlength">
    Name must be at least 5 characters long.
  </div>
</div>
    <br>
    <label>Email:</label><br>
    <input type="text" formControlName="email" placeholder="email">
    <div *ngIf="(user_data.controls.email.dirty || user_data.controls.email.touched) && user_data.controls.email.invalid">
    <div style="color:red" *ngIf="user_data.controls.email.errors.required">
        Email must be required.
    </div>
    <div style="color:red" *ngIf="(user_data.controls.email.errors.email)">
    Enter a valid email address.
    </div>
  </div>
    <br>
    <label>Contact Number:</label><br>
    <input type="tel" formControlName="phone" placeholder="Mobile number">
    <div *ngIf="(user_data.controls.phone.dirty || user_data.controls.phone.touched) && user_data.controls.phone.invalid">
    <div style="color: red" *ngIf="user_data.controls.phone.errors.required">
        Mobile Number is required.
    </div>
    <div style="color: red"*ngIf="user_data.controls.phone.errors.minlength ||user_data.controls.phone.errors.maxlength">
        Length should be of 10 characters.
      </div>
      <div style="color:goldenrod"*ngIf="user_data.controls.phone.errors.pattern">
        Should be Number.
      </div>
  </div>
    <br>
    <label>ID:</label><br>
    <input type="text" formControlName="employee_id" placeholder="id">
    <div *ngIf="(user_data.controls.employee_id.dirty || user_data.controls.employee_id.touched) && user_data.controls.employee_id.invalid">
        <div style="color: red" *ngIf="user_data.controls.employee_id.errors.required">
            Employee id is required.
        </div>
        <div style="color: red"*ngIf="user_data.controls.employee_id.errors.minlength || user_data.controls.employee_id.errors.maxlength">
            Length should be of 4 characters.
          </div>
      </div>
    <br>
    <div formGroupName="address">
      <label>Address:</label><br>
      <input type="text" formControlName="street_name" placeholder="street">
      <div *ngIf="(control.address.controls.street_name.dirty ||control.address.controls.street_name.touched) && control.address.controls.street_name.invalid">
        <div style="color: red" *ngIf="control.address.controls.street_name.errors.required">
            street field is required.
        </div>
        </div>
      <br><br>
      <input type="text" formControlName="city_name" placeholder="city">
      <div *ngIf="(control.address.controls.city_name.dirty ||control.address.controls.city_name.touched) && control.address.controls.city_name.invalid">
        <div style="color: red" *ngIf="control.address.controls.city_name.errors.required">
            city field is required.
        </div>
        </div>
      <br><br>
      <input type="text" formControlName="state_name" placeholder="state">
      <div *ngIf="(control.address.controls.state_name.dirty ||control.address.controls.state_name.touched) && control.address.controls.state_name.invalid">
        <div style="color: red" *ngIf="control.address.controls.state_name.errors.required">
            state field is required.
        </div>
        </div>
      <br><br>
      <input type="tel" formControlName="zip" placeholder="zip">
      <div *ngIf="(control.address.controls.zip.dirty ||control.address.controls.zip.touched) && control.address.controls.zip.invalid">
          <div style="color: red" *ngIf="control.address.controls.zip.errors.required">
              zip code is required.
          </div>
          <div style="color: red"*ngIf="control.address.controls.zip.errors.minlength || control.address.controls.zip.errors.maxlength">
              Length should be of 6 characters.
            </div>
            <div style="color:goldenrod"*ngIf="control.address.controls.zip.errors.pattern">
              Should be Number.
            </div>
        </div>
      <br><br>
    </div>
    <button type="submit" [disabled]="!user_data.valid">Submit</button>
  </div>
</form>
